<% @outings.each do |o| %>
			<div>
				<ul>
					<li><%= o.name  %></li>
					<li><%= o.date  %></li>
					<li><%= o.city  %></li>
					<li><%= link_to 'View', outing_path(o)  %></li>
					<li><%= link_to 'Edit', edit_outing_path(o) %></li>
					<li><%= link_to 'Delete', outing_path(o), method: :delete %></li>
				</ul>			
			</div>
<% end %>

<%= @outings.inspect %>