<!DOCTYPE html>
<html>
<head>
  <title>Mappetizer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.css' rel='stylesheet' />
</head>
<body>

	<header>
		<ul>
			<div class="button-group">
	      <% if !user_signed_in? %>
				 <%= link_to "Sign in", new_user_session_path, class: "button"%>
	       <%= link_to "Register", new_user_registration_path, class: "button" %>
	       <% else %>
				<%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "button" %>
	      <% end %>
			</div>
		</ul>
	</header>

<%= yield %>

<script type="text/javascript">
L.mapbox.accessToken = 'pk.eyJ1IjoicGFtLSIsImEiOiJNT09NSzgwIn0.AWl1AY_kO1HMnFHwxb9mww';
	var map = L.mapbox.map('map', 'examples.map-4l7djmvo').setView([40, -74.50, 9]);
</script>

</body>
</html>
